<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Оренда житла</title>
</head>
<body>
    <h1>Оренда житла | Кабінет орендатора | Профіль</h1>
        <p>Електронна адреса: {{ tenant.email }} | <a href="/tenant_edit_email">Змінити</a></p>
        <p>Ім'я: {{tenant.name}} | <a href="/tenant_edit_name">Змінити</a></p>

        {% if tenant.rental_house %}
            <p>{{house_}} | <a href="/confirm_cancel_rent">Відмінити оренду</a></p>
        {% else %}
            <p>{{house_}}</p>
        {% endif %}
        <a href="/tenant">Назад</a>
</body>
</html>